<div class="container">
  <footer class="footer">
    <small>Copyright &copy; <%= link_to "Alpha Blog", root_path %></small>
    <nav>
      <ul>
        <li>about us</li>
      </ul>
    </nav>
  </footer>
</div>
